data/scan_history.json
data/rectangle_bounds.json
output/data/scan_history.json
output/data/rectangle_bounds.json
__pycache__/scsi_ocr_scanner.cpython-310.pyc
__pycache__/scsi_utils.cpython-310.pyc
__pycache__/scsi_search_area_overlay.cpython-310.pyc
screenshot.png
builds/_latest_release/Radar Scan ID v0.8.zip